<a href="https://colab.research.google.com/github/OscarGiordano/upsrj-machine-learning/blob/main/Te_damos_la_bienvenida_a_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#IMPORTACION DE LIBRERIAS
Este bloque importa las librerias numpy, pandas y time. Sin este bloque el resto del código fllara porque no habran sido incluidas las dependencias.

In [10]:
import numpy as np
import pandas as pd
import time

# MEDICIÓN DEL TIEMPO DE EJECUCIÓN
Este bloque crea una lista con una gran cantidad de números y mide el tiempo que tarda en ejecutarse un ciclo `for`.
Se utiliza `time.perf_counter()` para obtener un tiempo de alta precisión antes y después de la ejecución del ciclo.
Dentro del ciclo se incrementa una variable acumuladora y, al finalizar, se calcula y muestra el tiempo total de ejecución en segundos.

In [ ]:
datos = list (range(1000000000))
inicio = time.perf_counter()
suma = 0
for i in lista:
  suma += 1
  pass
  final = time.perf_counter()
  tiempo = final - inicio
  print(f"tiempo de ejecucion:{tiempo:.6f}sec")

# OPERACIONES CON NUMPY Y MANEJO DE DATOS
Este bloque utiliza NumPy para crear un arreglo y calcular su suma de manera eficiente, midiendo el tiempo de ejecución con `time.perf_counter()`.
Además, se define una base de datos en forma de lista junto con diccionarios que permiten identificar filas y columnas para organizar y acceder a la información.

In [ ]:
np_lista = np.arange(1000000000)

inicio = time.perf_counter()
suma_np = np.sum(np_lista)
final = time.perf_counter()

tiempo = final - inicio
print(f"Tiempo de ejecución: {tiempo:.6f} sec")

# ORGANIZACIÓN Y ACCESO A DATOS
Este bloque define una base de datos como una lista de listas que almacena nombres, edades y animales.
Se utilizan diccionarios para indicar la posición de filas y columnas, lo que permite acceder de forma directa a un dato específico, en este caso el animal asociado a una persona.

In [11]:
base_de_datos=[
    ["Oscar",21,   "gatos"],
    ["paula",21,   "tiburones"],
    ["Jonatan",24, "Hurones"],
    ["kevin",22,   "periquitos"],
    ["lucero", 21, "perros"],
    ["israel",21,  "lobos"],
    ["sergio",21,  "perros"],
    ["yahir",21,   "leones"],
    ["diego",21,   "pinguinos"]

]
columnas ={"Nombre":0, "Edad":1, "Animal":2}
filas={"oscar":0, "paula":1,"jonatan":2, "kevin":3,"lucero":4,"israel":5,"sergio":6,"yahir":7,"diego":8}
print(base_de_datos[filas["kevin"]][columnas["Animal"]])

periquitos

# CREACIÓN Y CONSULTA DE DATAFRAME
Este bloque convierte la base de datos en un DataFrame de Pandas, asignando nombres a las columnas y un índice numérico.
Posteriormente, se realiza una consulta para obtener el valor de la columna "Animal" correspondiente a una persona específica.

In [15]:
dF = pd.DataFrame(base_de_datos, columns=["Nombre", "Edad", "Animal"], index=range(1,10))
print(dF)
print(dF.Animal[dF['Nombre'] == 'Kevin'])

    Nombre  Edad      Animal
1    Oscar    21       gatos
2    paula    21   tiburones
3  Jonatan    24     Hurones
4    kevin    22  periquitos
5   lucero    21      perros
6   israel    21       lobos
7   sergio    21      perros
8    yahir    21      leones
9    diego    21   pinguinos
Series([], Name: Animal, dtype: object)